# Node.js (cho Vue.js)
node_modules/
dist/
*.log

# Vue.js
*.vue
.vscode/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# Build output
/dist/
/build/

# IDE và Editor
.idea/
*.iml
*.swp
*.swo
.DS_Store

# Spring Boot
*.class
*.jar
*.war
*.log
/build/
target/
out/
*.db
*.h2.db

# Thư mục môi trường
.env
*.env
