# Node.js (cho Vue.js)
node_modules/
dist/
*.log

# Vue.js
.vscode/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# Build output
/dist/
/build/

# IDE và Editor
.idea/
*.iml
*.swp
*.swo
.DS_Store

# Spring Boot
*.class
*.jar
*.war
*.log
/build/
target/
out/
*.db
*.h2.db
*.properties

=======
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
mvnw.cmd

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


**/application.properties
src/frontend/router.js
